@media (min-width: 576px) {
    .runModal .modal-dialog {
        max-width: 836px;
    }
}
.runModal .modal-content{
	background-image: url('../images/popup-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.35);
	border-radius: 30px;
	padding: 0;
}
.runModal .modal-header{
	padding: 20px 20px 0;
}
.runModal.modal .modal-header .btn-close{
	border: 1px solid #DEDEDE;
    font-weight: 300;
    font-size: 12px;
    padding: 10px;
	background-color: transparent;
}
.runModal h3{
	font-size: 28px;
	line-height: 34px;
	font-weight: 700;
	font-family: "Inter", sans-serif;
}
.runModal .modal-body .row{
	padding: 30px 80px 60px;
}
.runModal .wrap{
	background: #FFFFFF;
	border: 8px solid #FFBB00;
	border-radius: 20px;
	padding: 16px 16px 40px;
}
.runModal .wrap-ind{
	border-color: #C2ACFF;
}
.runModal .wrap h6{
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	margin: 16px 0;
	font-family: "Inter", sans-serif;
}
.runModal .wrap .img-wrap{
	max-width: 100%;
}
.runModal .wrap .btn.btn-danger{
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
	font-family: "Inter", sans-serif;
	background-color: #F33558;
	border-radius: 5px;
	padding: 12px 40px;
}
.runModal .wrap .btn.btn-danger:hover{
	text-decoration: none;
	background-color: #000000;
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.runModal .modal-body .row{
		padding: 30px 24px;
	}
	.runModal .wrap h6 {
		font-size: 13.5px;
	}
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.runModal .wrap h6 {
		font-size: 18px;
	}
}
