/*common css*/
.mt-4rem{
    margin-top: 4rem;
}
.py-60p{
    padding-top: 60px;
    padding-bottom: 60px;
}
.py-90p{
    padding-top: 90px;
    padding-bottom: 90px;
}

.first-banner {
    background-color: #3A1C90;
    padding-top: 160px;
}
.banner-content h2{
    color: #fff;
}
.banner-content p{
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.banner-img img{
    width: 590px;
    height: 520px;
}


.feature .wrapper{
	border-radius: 20px;
	text-align: center;
	margin-bottom: 30px;
	height: 300px;
    line-height: 260px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
.feature .feature1{
	background-color: #F4F0FF;  
}
.feature .feature2{
	background-color: #FBF0FF;
    margin-left: 2rem;
}
.feature .feature3{
	background-color: #FFF5F0;
    margin-right: 2rem;
}
.feature .feature4{
	background-color: #EEFAF1;
}
.feature .content{
    vertical-align: middle;
    line-height: 1.5;
    display: inline-block;
}
.feature img{
    width: 250px;
    height: 165px;
}
.feature .content p{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}



.first-hr {
    border: 20px solid #C9C8FF;
    margin: 0;
    position: relative;
    z-index: -1;
}
.second-hr {
    border: 20px solid #D988E7;
    margin: 0;
    position: relative;
    z-index: -1;
}



.second-banner {
    margin-bottom: -440px;
    position: relative;
}
.second-banner .container {
    border: 2px solid #FDECE5;
    border-radius: 30px;
    background-color: #fff;
}
.second-banner img{
    border-radius: 28px;
    height:100%;
    width:100%;
}



.business{
    padding-top: 320px;
    background-color: #FCF7F7;
}
.business img{
    width: 196px;
    max-width: 100%;
}
.business p{
    font-size: 20px;
    line-height: 35px;
}
.business .icon{
    margin: auto;
}



.third-banner {
    background-color: #3189DA;
    background-image: linear-gradient(to right, #3189DA, #40159A);
}
.third-banner h2{
    color: #fff;
    margin-bottom: 30px;
}
.third-banner p{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 35px;
}
.third-banner .banner-img img{
    width: 624px;
    height: 617px;
}



.benefit h3{
    line-height: 60px;
}
.benefit h6{
    line-height: 30px;
}
.benefit-wrapper{
    border-radius: 20px;
	/* padding: 30px 8px; */
	text-align: center;
	margin-bottom: 30px;
	height: 410px;
    line-height: 410px;
	/* cursor: pointer; */
	position: relative;
    /* width: 390px */
    padding-top:15px;
    padding-bottom: 15px;
    margin-left: 24px;
    margin-right: 24px;
}
.benefit1 {
    border: 1px solid #FFBB00;
    border-bottom: 6px solid #FFBB00;
}
.benefit2 {
    border: 1px solid #F33558;
    border-bottom: 6px solid #F33558;
}
.benefit3 {
    border: 1px solid #C2ACFF;
    border-bottom: 6px solid #C2ACFF;
}
.benefit4 {
    border: 1px solid #6967FF;
    border-bottom: 6px solid #6967FF;
}
.benefit5 {
    border: 1px solid #3ABE73;
    border-bottom: 6px solid #54D15F;
}
.benefit-content{
    vertical-align: middle;
    line-height: 1.5;
    display: inline-block;
}
.benefit img{
    width: 84px;
    height: 84px;
    margin-bottom: 20px;
}
.benefit p{
    font-size: 16px;
    line-height: 27px;
}



.reasons{
    background-color: #F0F5FF;
}
.reasons-wrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}
.reasons-wrapper p{
    font-size: 24px;
    line-height: 35px;
}
img.reason1{
    width: 468px;
    height: 468px;
}
img.reason2{
    width: 290px;
    height: 334px;
}
img.reason3{
    width: 455px;
    height: 305px;
}



.example .example-container{
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    border-radius: 30px;
    padding: 25px 17px 25px 35px;
    position: relative;
}
.example .example-btop1{    
    border-top: 45px solid #F39035;
}
.example .example-btop2{    
    border-top: 45px solid #6967FF
}
.example .example-btop3{    
    border-top: 45px solid #3ABE73;
}
.example .example-btop4{    
    border-top: 45px solid #F87DD5;
}
.example p{
    font-weight: 500;
}
.example .icon-container{
    box-shadow: 0 -10px 20px rgb(0 0 0 / 15%);
    display: inline-block;
    padding: 15px 10px;
    border-radius: 20px;
    position: absolute;
    top: -65px;
    left: 40px;
    background-color: #fff;
    height: 80px;
    width: 80px;
    margin: auto;
    text-align: center;
}
.example .icon-container img{
    height:45px;
    width: 45px;
}



.overlay-banner {
    margin-bottom: -120px;
    position: relative;
}
.overlay-banner .container {
    padding: 50px 30px;
    background-color: #DE2336;
}
.overlay-banner img{
    width: 253px;
    height: 173px;
}
.overlay-banner .content{
    margin: auto 0;
}
.overlay-banner h5{
    color: #fff
}
.overlay-banner .c-text{
    color: #FFDE06
}




.fourth-banner{
    background-color: #1F249C;
    padding-top: 230px;
}
.fourth-banner h2{
    color: #fff;
    line-height: 65px;
    margin-bottom: 30px;
    font-weight: 700;
}
.fourth-banner p{
    font-size: 24px;
    line-height: 35px;
    color: #fff;
}
.fourth-banner .img-wrapper {
    position: relative;
}
.fourth-banner .img-wrapper img{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width: 640px;
    max-height: 548px;
}



.recognition img{
    height: 190px;
    width: 190px;
}
.recognition .img-wrapper{
    margin: auto;
    padding: 50px;
    border-radius: 50px;
}
.recognition .img-bg1{
    border: 1px solid #FFF4CF;
    background-color: #FFF4CF;
}
.recognition .img-bg2{
    border: 1px solid #DEFFF3;
    background-color: #DEFFF3;
    padding-top:90px;
    position: relative;
}
.recognition .img-bg3{
    border: 1px solid #CFF1FF;
    background-color: #CFF1FF;
}
.recognition .img-bg2 .main-image {
    width: 228px;
    height: 180px;
}
.recognition .img-bg2 .globe {
    width: 70px;
    height: 70px;
    position: absolute;
    top:30px;
    right:30px;
}
.recognition .content-wrapper {
    padding: 50px 85px;
}
.recognition .content-wrapper-2{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 160px;
}
.recognition h4{
    font-weight:800
}
.recognition p{
    font-size:20px;
    line-height: 32px;
}




/* Mobile Devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .feature .feature2{
        margin-left: 0;
    }
    .feature .feature3{
        margin-right: 0;
    }   
    .business .icon{
        padding: 0 50px 50px 50px;
    }
    .reasons-wrapper{
        margin: 0;
        position: initial;
        top: 0;
        transform: none;
    } 
    .reasons-wrapper p{
        font-size: 18px;
    }
    img.reason1{
        width: 328px;
        height: 328px;
    }
    img.reason2{
        width: 250px;
        height: 284px;
    }
    img.reason3{
        width: 285px;
        height: 205px;
    }
    .recognition .content-wrapper {
        padding: inherit;
    }
    .recognition .content-wrapper-2 {
        padding: inherit;
    }     
    .recognition .img-wrapper{
        margin-bottom: 30px;
    }
    .example .sm-margin{
        margin-top:3rem
    }
    .recognition img{
        height: 140px;
        width: 140px;
    }    
    .recognition .img-bg2 .main-image {
        width: 180px;
        height: 140px;
    }
    .recognition .img-bg2 .globe {
        width: 40px;
        height: 40px;
    }
    .overlay-banner .content{
        text-align: center;
        margin-top: 20px;
    }
    .py-90p{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .first-banner {
        padding-top: 40px;
    }
    .fourth-banner{
        padding-top: 150px;
    }
}

/* Ipad and Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .banner-img img{
        width: 490px;
        height: 420px;
    }
    .business .icon{
        margin-left:0.8rem;
        margin-right:0.8rem;
    }
    .third-banner .banner-img img{
        width: 524px;
        height: 517px;
    }   
    .reasons-wrapper{
        margin: 0;
        position: initial;
        top: 0;
        transform: none;
    } 
    .reasons-wrapper p{
        font-size: 20px;
    }  
    .example .sm-margin{
        margin-top:3rem
    } 
    img.reason1{
        width: 328px;
        height: 328px;
    }
    img.reason2{
        width: 250px;
        height: 284px;
    }
    img.reason3{
        width: 285px;
        height: 205px;
    }
    .recognition .content-wrapper {
        padding: inherit;
    }
    .recognition .content-wrapper-2 {
        padding: inherit;
    }    
    .recognition img{
        height: 140px;
        width: 140px;
    }
    .recognition .img-bg2 .main-image {
        width: 180px;
        height: 140px;
    }
    .recognition .img-bg2 .globe {
        width: 50px;
        height: 50px;
    }     
    .recognition .img-wrapper{
        margin-bottom: 30px;
    }
    .second-banner {
        margin-bottom: -200px;
    }
    .business{
        padding-top: 80px;
    }
    .py-90p{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .first-banner {
        padding-top: 90px;
    }
    .fourth-banner{
        padding-top: 150px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 740px) {
    .feature .feature2{
        margin-left: 0;
    }
    .feature .feature3{
        margin-right: 0;
    }   
    .business .icon{
        padding: 0 50px 50px 50px;
    }
    .reasons-wrapper p{
        font-size: 18px;
    }
    .recognition .img-bg2 .globe {
        width: 40px;
        height: 40px;
    }
    .overlay-banner .content{
        text-align: center;
        margin-top: 20px;
    }

}
@media only screen and (max-width: 991px) {
    .example .sm-margin{
        margin-top:3rem
    }
}

/* Small screen and laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    .c-margin {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .banner-img img{
        width: 490px;
        height: 420px;
    }
    .business .icon{
        margin-left:1rem;
        margin-right:1rem;
    }
    .third-banner .banner-img img{
        width: 524px;
        height: 517px;
    }
    .benefit-wrapper{
        height: 440px;
    }
    .reasons-wrapper p{
        font-size: 20px;
    }
    img.reason1{
        width: 348px;
        height: 348px;
    }
    img.reason2{
        width: 250px;
        height: 284px;
    }
    img.reason3{
        width: 285px;
        height: 205px;
    }
    .recognition .col-lg-8{
        width: 58.33333333%;
    }
    .recognition .col-lg-4{
        width: 41.66666667%;
    }
    .recognition .content-wrapper {
        padding: 50px;
    }
    .recognition .content-wrapper-2 {
        padding-right: 50px;
    }
    .recognition img{
        height: 140px;
        width: 140px;
    }
    .recognition .img-bg2 .main-image {
        width: 180px;
        height: 140px;
    }
    .recognition .img-bg2 .globe {
        width: 50px;
        height: 50px;
    }
    .second-banner {
        margin-bottom: -200px;
    }
    .business{
        padding-top: 80px;
    }
    .fourth-banner{
        padding-top: 150px;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .business .icon{
        margin-left:1.4rem;
        margin-right:1.4rem;
    }
    .benefit .col-lg-3{
        width: 30%
    }
    .benefit1 {
        margin-left:0;
    }

}

@media only screen and (min-width: 1201px) {
    .business .icon{
        margin-left:1.5rem;
        margin-right:1.5rem;
    }
    .benefit .col-lg-3{
        width: 30%
    }
    .benefit1 {
        margin-left:0;
    }
}


