.position-courses {
    margin-right: -10px !important;
    float: right !important;
    margin-top: -20px !important;
}
.cbox .cboxfoot {
    margin-left: -14px !important;
}
body#pgBody {
    padding-right: 0px !important;
}

@media screen and (max-width: 767px) {
    .RelatedCourseSectionViewAll {
        font-size: 18px;
        padding: 20px 0;
    }

    .RelatedCourseSection {
        width: 100%;
        overflow: scroll;
    }

    .price-box-home {
        margin: 10px;
    }
}
.Cenroll ~ .col-md-12 {
    padding-left: 0px !important;
}

