.position-courses {
    margin-right: -10px !important;
    float: right !important;
    margin-top: -20px !important;
}
.cbox .cboxfoot {
    margin-left: -14px !important;
}
body#pgBody {
    padding-right: 0px !important;
}

