@media screen and (max-width: 767px) {

    #logo img {
        display: block;
        margin: auto;
        max-width: 100%;
    }

    .entry-title h2,
    .post-grid .entry-title h2 {
        font-size: 18px !important;
        font-weight: 600;
    }

    .postcontent {
        width: auto;
    }

    .col_last {
        clear: right;
        margin: auto !important;
    }
}


@media (max-width: 479px) {

    .container,
    #header.full-header .container,
    .container-fullwidth {
        width: 310px !important;
    }
}

.position-courses {
    margin-right: 4px !important;
    float: right !important;
    margin-top: -20px;
}

.RelatedCourseSection {
    padding-bottom: 50px;
}

.vbox img {
    height: 170px;
    width: -webkit-fill-available;
}

.RelatedCourseSection h3 {
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.RelatedCourseSectionViewAll {
    margin: 0;
    font-size: 30px;
    padding: 30px 0;
    height: auto;
    font-weight: 300;
    text-transform: none;
}
.videocourses-bg {
    background: radial-gradient(#ffbe07,#ff7900);
}
.test-bg {
    background: url(test-bg.png) no-repeat top 50% left 7%,linear-gradient( 45deg,#34176b,#6728e4);
}
.cbox .cboxfoot {
    margin-left: -14px !important;
}
body.stretched.side-push-panel.device-lg {
    padding-right: 0px !important;
}
@media screen and (max-width: 767px) {
    .RelatedCourseSectionViewAll {
        font-size: 18px;
        padding: 20px 0;
    }

    .RelatedCourseSection {
        width: 100%;
        overflow: scroll;
    }

    .price-box-home {
        margin: 10px;
    }
}

@media screen and (max-width: 767px) {
    .RelatedCourseSectionViewAll {
        font-size: 16px;
    }

    .test-section-page .TakeTestSectionQuestionNumbers {
        justify-content: flex-start;
        overflow: scroll;
    }

        .test-section-page .TakeTestSectionQuestionNumbers span {
            min-width: 36px;
        }

    .test-section-page .TakeTestSectionQuestionBody .TakeTestSectionQuestionRadioButtonOption {
        word-wrap: break-word;
    }
}

.glyphicon-star.half:before {
    content: "\e006";
    display: inline-block;
    width: 8.5px; 
    overflow: hidden;
}
/*.glyphicon {
    margin-right: 5px;
}*/



@media screen and (max-width: 479px) {
    #content h4 {
        width: 95% !important;
    }

    .postcontent {
        width: 100%;
    }
}



@media screen and (min-width: 767px)and (max-width: 990px) {
    ul.topright.navbar-nav li.nav-item {
        display: block;
    }
}

@media screen and (max-width: 479px) {
    .price-box-home {
        overflow: visible;
    }

    .cbox .cboxfoot {
        position: relative;
        margin-left: 0px !important;
    }

    ul.dropdownmenu li ul.submenu {
        left: -100px;
    }

    #header .container {
        width: 100% !important;
    }
}



@media screen and (min-width: 767px) and (max-width: 990px) {
    .action-section-header a {
        margin: 8px;
    }

    ul.topright.navbar-nav li.nav-item {
        display: block;
    }

    .footerchanges .footer-brand h1 {
        font-size: 24px !important;
    }

    .footerchanges .footer-links h3 {
        word-wrap: break-word;
    }
}
