/**********************/
/*Common*/
/**********************/
.conference {
  /*  height: calc(100vh - 55px);*/
}

    .conference #controls {
        bottom: 10px;
    }

#controls .btn-control {
    display: inline-block;
    background: #FFBB00;
    color:black;
    font-weight: 500;
    padding: 12px 8px;
    margin: 5px;
    border-radius: 0px 100px 100px 0px;
    width: 182px;
    height: auto;
    text-align: center;
    transition: 0.4s;
    border: 0;
    border-radius: 10px !important;
}

/** #controls .btn-control:hover {
        background-color: #000000;
    }**/   

#controls .btn-left-rounded {
    border-radius: 100px 0px 0px 100px;
}

#controls .btn-control:hover,
#controls .btn-no-rounded {
    border-radius: 0px;
}

.conference .icon svg {
    width: 20px;
    height: 20px;
}

.test-right {
    top: 320px;
}

.all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-chat-message h4 {
    margin: 0px;
}

input,
input::placeholder {
    color: #FFFFFF;
}
/**********************/
/*Candidate Page*/
/**********************/

.candidate-conference .video-section-border {
    border-radius: 3%;
    height: 100%;
}

.candidate-conference .test-right {
    top: 320px;
}

.candidate-conference1 #controls {
    left: 20%;
}

.candidate-conference .test-header-react {
    padding: 10px !important;
    color: #FFFFFF;
}

.candidate-conference .icon {
    position: fixed;
    top: 60px;
}

    .candidate-conference .icon.icon-chat {
        top: unset;
        bottom: 10px;
    }

.candidate-conference .sidebar {
    top: 60px;
    padding: 0;
}

.candidate-conference .peer-video-tile,
.candidate-conference .shape-circle,
.candidate-conference .peer-video {
    border-radius: 0;
    margin-bottom: 0;
}

.candidate-conference .shape-circle {
    aspect-ratio: 1/1;
    height: 250px;
    width: 100%;
}

.candidate-conference .sidebar.chat-box {
    top: unset;
    bottom: 0;
    padding: 8px;
    background-color: #3fbfff;
    width: 280px;
}

.candidate-conference .btn-close {
    position: absolute;
    left: 10px;
    width: 6px;
    height: 6px;
}

.candidate-conference .messages {
    height: 230px;
    max-height: 230px;
}

.candidate-conference .peer-name {
    display: none;
}

.candidate-conference .peer-network {
    position: absolute;
    top: 0;
    padding-left: 3px;
}

.candidate-conference .connection-network {
    background-color: transparent;
}

.candidate-page {
    color: #000;
}

    .candidate-page .logo img {
        height: 45px;
    }

    .candidate-page .btn-control {
        height: 50px;
    }

    .candidate-page #controls .btn-rounded {
        border-radius: 100px;
    }

    .candidate-page .tab-content {
        /* max-width: 1030px;*/
        margin: 0px auto;
    }

    .candidate-page #pills-authentication .btn-control {
        height: 36px;
        width: 120px;
        padding: 8px 10px;
        margin: 0;
    }

    .candidate-page #pills-authentication .form-wrapper input {
        height: 45px;
    }

    .candidate-page .steptble,
    .candidate-page .stepnote {
        max-width: 680px;
        margin: 10px auto;
    }

        .candidate-page .steptble h2 {
            margin: 8px 0;
        }

        .candidate-page .steptble th,
        .candidate-page .steptble td {
            padding: 4px;
            vertical-align: middle;
        }

/**********************/
/*Admin Page*/
/**********************/
.admin-conference .btn-close {
    position: absolute;
    left: 10px;
    width: 12px;
    height: 12px;
    border: 0;
}

.admin-conference header,
.candidate-page header,
.interview-page header {
    background: #3f51b5 !important;
    justify-content: center;
    align-items: center;
}

.admin-conference .screen-share-status,
.candidate-page .logo,
.interview-page .logo {
    background: #3f51b5 !important;
    margin: 0px auto;
    color: #FFFFFF;
}

.admin-conference .peer-network {
    right: 5px;
}

.admin-conference .shape-circle {
    height: 500px;
}

.admin-conference .video-box {
    width: 500px;
}
.camera-fullsize {
    width: 1410px !important;
    height: 558px !important;
}

.admin-conference .open-chat-message .btn-control {
    border-radius: 8px;
    background: #f30446;
    margin: 5px;
    font-size: 10px;
    padding: 6px;
    width: auto;
    height: auto;
    text-transform: capitalize;
    border: 0;
    box-shadow: none;
}

.admin-conference .conference #controls {
    left: 10%;
}

.admin-conference .modal-dialog {
    margin: 0;
}

.admin-conference #test-myModal .close {
    border: 0;
    background: transparent;
    font-size: 24px;
}

.admin-conference #test-myModal .dataTables_info {
    color: #212529;
}

.admin-conference #test-myModal .dataTables_filter {
    float: right;
}

/**********************/



.custom-tab-view .video-section-border {
    border: 0 !important;
}

.custom-tab-view .test-right {
    top: 320px;
}

.custom-tab-view1 #controls {
    left: 20%;
}

.custom-tab-view .test-header-react {
    padding: 10px !important;
    color: #FFFFFF;
}

.custom-tab-view .icon {
    position: fixed;
    top: 60px;
}

    .custom-tab-view .icon.icon-chat {
        top: unset;
        bottom: 10px;
    }

.custom-tab-view .sidebar {
    top: 60px;
    padding: 0;
}

.custom-tab-view .peer-video-tile,
.custom-tab-view .shape-circle,
.custom-tab-view .peer-video {
    border-radius: 0;
    margin-bottom: 0;
}

.custom-tab-view .shape-circle {
    aspect-ratio: 1/1;
    height: 200px;
    width: 100%;
}

.custom-tab-view .sidebar.chat-box {
    top: unset !important;
    bottom: 0;
    padding: 8px;
    background-color: #3fbfff;
    width: 280px;
}

.custom-tab-view .btn-close {
    position: absolute;
    left: 10px;
    width: 6px;
    height: 6px;
}

.custom-tab-view .messages {
    height: 230px;
    max-height: 230px;
}

.custom-tab-view .peer-name {
    display: none;
}

.custom-tab-view .peer-network {
    position: absolute;
    top: 0;
    padding-left: 5px;
}

.custom-tab-view .connection-network {
    background-color: transparent;
}

.custom-tab-view #controls {
    bottom: 10px;
}

.custom-tab-view .icon svg {
    width: 20px;
    height: 20px;
}


/**********************/
/*interview Page*/
/**********************/

.interview-conference .video-section-border {
    border: 0 !important;
}

.interview-conference .test-right {
    top: 320px;
}

.interview-conference1 #controls {
    left: 20%;
}

.interview-conference .test-header-react {
    padding: 10px !important;
    color: #FFFFFF;
}

.interview-conference .icon {
    position: fixed;
    top: 60px;
}

    .interview-conference .icon.icon-chat {
        top: unset;
        bottom: 10px;
    }

.interview-conference .sidebar {
    top: 60px;
    padding: 0;
}

.interview-conference .peer-video-tile,
.interview-conference .shape-circle,
.interview-conference .peer-video {
    border-radius: 0;
    margin-bottom: 0;
}

.interview-conference .shape-circle {
    aspect-ratio: 1/1;
    height: 250px;
    width: 100%;
}

.interview-conference .sidebar.chat-box {
    top: unset;
    bottom: 0;
    padding: 8px;
    background-color: #3fbfff;
    width: 280px;
}

.interview-conference .btn-close {
    position: absolute;
    left: 10px;
    width: 6px;
    height: 6px;
}

.interview-conference .messages {
    height: 230px;
    max-height: 230px;
}

.interview-conference .peer-name {
    display: none;
}

.interview-conference .peer-network {
    position: absolute;
    top: 0;
    padding-left: 3px;
}

.interview-conference .connection-network {
    background-color: transparent;
}

.interview-page {
    color: #000;
}

    .interview-page .logo img {
        height: 45px;
    }

    .interview-page .btn-control {
        height: 50px;
    }

    .interview-page #controls .btn-rounded {
        border-radius: 100px;
    }

    .interview-page .tab-content {
        /* max-width: 1030px;*/
        margin: 0px auto;
    }

    .interview-page #pills-authentication .btn-control {
        height: 36px;
        width: 120px;
        padding: 8px 10px;
        margin: 0;
    }
 
    .interview-page .steptble,
    .interview-page .stepnote {
        max-width: 680px;
        margin: 10px auto;
    }

        .interview-page .steptble h2 {
            margin: 8px 0;
        }

        .interview-page .steptble th,
        .interview-page .steptble td {
            padding: 4px;
            vertical-align: middle;
        }


/*# sourceMappingURL=/style.338a6bf4.css.map */