/*common css*/
body{
    color: #000;
}
.mt-4rem{
    margin-top: 4rem;
}
.py-60p{
    padding-top: 60px;
    padding-bottom: 60px;
}
.py-90p{
    padding-top: 90px;
    padding-bottom: 90px;
}
.pt-60p{
    padding-top: 60px;
}
.pt-90p{
    padding-top: 90px;
}
.font-15{
    font-size: 15px;
}
.font-16{
    font-size: 16px;
}
.font-24{
    font-size: 24px;
}



.overlay-banner {
    margin-bottom: -120px;
    position: relative;
}
.overlay-banner .subscribe-wrapper{
    background-color: #B33232;
    border-radius: 50px;
    width:80%;    
    padding: 80px 0;
}
.overlay-banner .input-group{
    width: 50%;
}
.overlay-banner input, .overlay-banner input:focus{
    font-size: 16px;
    box-shadow: none;
    border: 0;
    border-radius: 10px 0 0 10px;
    height: 59px;
}
.overlay-banner button, .overlay-banner button:focus, .overlay-banner button:hover{
    font-size: 20px;
    box-shadow: none;
    border-radius: 0 10px 10px 0;
    height: 60px;
}
.overlay-banner .arrow{
    max-width: 60px;
    position: absolute;
    top: 35%;
    left: 14%;
}

.input_overlay{
    max-height: 60px !important;
}



.c-footer{
    padding-top:200px;
}
.c-footer .bottom-footer{
    max-width: inherit;
}
.c-footer .bottom-footer a{
    font-size: 13px;
    color: #fff;
    opacity: .4;
    font-weight: 300;
    line-height: 22px;
}
.c-footer .c-footer-img{
    max-width: 180px;
}
footer.c-footer .footer-left-column .footer-img-module .playstore-img {
    max-width: 250px;
}
.c-footer .forbes-img {
    max-width: 150px;
}
.c-footer h6{
    font-size: 24px !important;
}
footer.c-footer .footer-links .footer-menu ul li a{
    font-size: 16px;
    line-height: 37px;
    color: #95A2B1;
    font-weight: normal;
}
footer.c-footer .footer-links .footer-menu ul li a:hover{
    color: #fb0;
}
.c-footer .footer-number p, .c-footer .footer-number a{
    color: #FF4646;
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
}
.c-footer hr{
    border-top: 1px solid #303946
}
.c-footer .c-number{
    border-left: 1px solid #3D4755;
    margin-left: 1rem;
}
.c-footer .c-number p{
    margin-left: 3rem;
}
.c-footer .cf-icon{
    color: #525D6C;
    margin-left: 1rem;
}
.c-footer .c-smedia{
    margin: auto;
    text-align: end;
}






/* x-small Devices */
@media only screen and (max-width: 575px){
    .c-footer .forbes-img {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .c-footer .c-number{
        border-left: 0;
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .c-footer .c-number p{
        margin-left: 0;
    }
    .c-footer .c-smedia{
        text-align: left;
    }
    .overlay-banner .subscribe-wrapper{
        border-radius: 0;
        width:100%;    
    }
    .overlay-banner .input-group{
        width: 90%;
    }
    
}
/* small Devices */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .c-footer .forbes-img {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .c-footer .c-number{
        border-left: 0;
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .c-footer .c-number p{
        margin-left: 0;
    }
    .c-footer .c-smedia{
        text-align: left;
    }    
    .overlay-banner .subscribe-wrapper{
        border-radius: 0;
        width:100%;    
    }
    .overlay-banner .input-group{
        width: 90%;
    }
}
/* Medium  devices*/ 
@media only screen and (min-width: 768px) and (max-width: 991px) {   
    .c-footer .c-number p{
        margin-left: 2rem;
    }
    footer .footer-links {
        margin-top: 30px;
    }
    .overlay-banner .input-group{
        width: 80%;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .overlay-banner .arrow{
        max-width: 50px;
        top: 40%;
    }
    
}
