/*--------------------------------------*/

/*Header CSS
/*--------------------------------------*/
header .navbar{
	background-color: #1A1B20;
	height: 70px;
	margin-top: 30px;
	transition: 0.3s all ease-in-out;
}
header .navbar-nav .nav-link{
	font-size: 14px;
	font-weight: 500;
	color: #93A1A8;
	transition: color .3s ease-in-out,background-color .3s ease-in-out, border-color .3s ease-in-out;
}
header .navbar-nav .nav-link.active,
header .navbar-nav .show>.nav-link,
header .navbar-nav .nav-link:hover{
    color: #FFFFFF;
}
header .navbar-nav .nav-link.btn.btn-secondary{
	color: #FFFFFF;
	padding: 10px 25px;
}
header .input-group{
	border: 1px solid #515151;
	border-radius: 75px;
	max-width: 191px;
}
header .input-group-text{
	background-color: rgba(103, 121, 144, 0.07);
	border: 0;
}
header .form-control,
header .form-control:focus{
	background-color: rgba(103, 121, 144, 0.07);
	border: 0;
	color: #FFFFFF;
	font-size: 14px;
}
header .input-group:hover,
header .input-group:focus-within{
	border: 1px solid #FFFFFF;
}
header .form-control::placeholder{
	color: #9EAFC6;
}
header .icon-search:hover path{
	fill: #FFFFFF;
}
header .offcanvas{
	background-color: #1A1B20;
}
header .navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*--------------------------------------*/

/*Active Header
/*--------------------------------------*/
header .navbar.active{
	margin-top: 0;
}
/*--------------------------------------*/

/*Header Responsive
/*--------------------------------------*/
/*`xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
	header .navbar-nav .nav-link.btn.btn-secondary{
		padding: 10px 18px;
	}
}

/*`xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	header .input-group{
		max-width: 100%;
	}
}

/*`lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	
}

/*`md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	h2{
		font-size: 36px;
	}
	.btn{
		padding: 16px 30px;
	}
}

/*`sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
}

/*`xs` returns only a ruleset and no media query */
@media (max-width: 480px) {
	
}
/*--------------------------------------*/