.popover-content {
	min-height: 200px !important;
	max-height: 350px !important;
	overflow-y: auto;
	white-space: pre-wrap;
}

.popover {
	position: absolute !important;
}

.vidduration {
	font-size: 11px;
}

.bodytext {
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.popover-title {
	color: #333;
	background-color: #fff;
	margin: 0px !important;
	cursor: pointer;
}

.popover-footer {
	padding: 4px;
	background-color: #fbfbfb;
	text-align: right;
	border-top: 1px solid #ebebeb;
	border-radius: 0 0 5px 5px;
}

.bodytext ul {
	font-size: 11px;
	list-style: none;
	margin: 0px;
	padding: 2px;
}

.bodytext li {
	line-height: 21px;
}

	.bodytext li i {
		padding-right: 4px;
	}

.glyphicon-heart {
	font-size: 28px;
}

.bodytext p {
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	margin-bottom: 20px;
}

.hrefVideoTitle {
	cursor: pointer;
}

.rat {
	cursor: pointer;
	margin: 15px;
	color: orange;
}
/* 1-5-2021 Course Modal - DK */
.CourseList .courses .course h3 {
	font-size: 15px;
	line-height: 1.4;
}

.vidduration span {
	display: inline-block;
	width: 49%;
	float: left;
}

	.vidduration span i {
		margin-right: 4px;
	}

	.vidduration span.enroled {
		text-align: right
	}

.popover-footer {
	padding: 10px 0px 0px 0px;
}

	.popover-footer .btn-success {
		background: linear-gradient(45deg, #32106d, #4543bf);
		border: none;
		font-size: 13px;
		box-shadow: 0px 0px 7px #ddd;
		width: 70%;
		border-radius: 100px;
	}

		.popover-footer .btn-success:hover {
			opacity: 0.8;
		}

.popover-wishlist {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	border: 1px solid #999;
	border-radius: 100px;
	text-decoration: none;
	color: #999;
}

	.popover-wishlist i {
		font-size: 14px;
		left: 1.5px;
		top: 2.5px
	}

	.popover-wishlist .glyphicon-heart {
		font-size: unset
	}

	.popover-wishlist:hover, .popover-wishlist.active {
		color: #db0f2b;
		text-decoration: none;
	}

.popover {
	position: relative;
	width: 34rem !important;
	background-color: #fff;
	border: 1px solid #d1d7dc;
	/* border-radius: 4px; */
	/* box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%); */
	color: #1c1d1f;
}

.popover {
	z-index: 999999 !important
}

.cbox {
	position: relative;
}

.list-group-item.active {
	z-index: 2;
	color: #000;
	background-color: #f4b837;
	border-color: #f4b837;
}

#ulCourseGrp li a {
	color: #000 !important
}

#ulCourseGrp .list-group-item img {
	width: 60px;
	border: 1px solid #dddddd;
	border-radius: 50%;
	margin-right: 10px;
}

.cat_name {
	font-size: 18px !important
}
.p-position{
	position:absolute;
}
.img-heightTileCard {
	height:148px;
}
