/*.csTooltip {
        height: 163px !important;
        padding: 40px 30px 10px 30px ;
        width: 310px !important;
        font-size: 11px !important;
    }*/
/*a:hover {
        width: 350px !important;
         height: 100px !important;
    }*/
.select2-results__option {
    padding: 0 6px 0 6px;
}
.tserach {
    margin-right: 208px !important;
   
}
#pageloaddiv {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: url('https://cdn.brainmeasures.com/Images/Candidate/loading.gif') no-repeat center center;
    display: none;
}
@font-face {
    font-family: Dnormal;
    src: url(../fonts/GOTHIC.TTF);
}

.Chrmodal {
    background-color: rgba(88, 88, 88, 0.95) !important;
    text-align: center;
    padding: 1% !important;
    border: 1px solid rgba(39, 39, 39, 0.47);
    border-radius: 15px;
}

    .Chrmodal h1 {
        font-family: Dnormal;
        color: #fff;
        text-shadow: 2px 2px #000000;
    }

        .Chrmodal h1 span {
            font-family: Dbold;
            font-size: 50px;
        }

    .Chrmodal h3 {
        font-family: Dnormal;
        color: #deec14;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 55px;
    }

        .Chrmodal h3 span {
            font-family: Dnormal;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            margin-top: 55px;
        }

    .Chrmodal p {
        font-family: Dnormal;
        color: #fff;
        margin-bottom: 30px;
    }

    .Chrmodal .btn {
        background: #deec14;
        color: #000000;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: Dbold;
    }

.cart {
    cursor: pointer !important
}

.wish {
    cursor: pointer !important
}

.Chrmodal h3 span {
    font-family: Dnormal;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 55px;
}

.Chrmodal p {
    font-family: Dnormal;
    color: #fff;
    margin-bottom: 30px;
}

.Chrmodal .btn {
    background: #deec14;
    color: #000000;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: Dbold;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.ui-menu .ui-menu-item {
    margin: 5px !important;
}

.no-padd .nav-tabs-custom ul.nav-tabs { display: flex;align-items: center;justify-content: center;width: 100%;flex-wrap: wrap;}
.no-padd .nav-tabs-custom ul.nav-tabs li  { margin: 0px 0px 0px; }
.no-padd .nav-tabs-custom ul.nav-tabs .IndiDashboard li a { /*padding: 10px 5px; line-height: normal; font-size: 13px; position: relative; cursor: pointer;*/ }
.no-padd .nav-tabs-custom ul.nav-tabs li a:after {content: '|'; position: absolute; right: -4px; top: 0; bottom: 0; margin: auto; display: flex; align-items: center; font-size: 20px; color: #444; }
.no-padd .nav-tabs-custom ul.nav-tabs li:last-child a:after, .no-padd .nav-tabs-custom ul.nav-tabs li.active a:after{display: none; }
.no-padd .nav-tabs-custom ul.nav-tabs li.active a {color: #fff; }
.IndiDashboard {
    padding: 9px 29px 9px 28px !important;
    line-height: normal;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.CorpDashboard {
    padding: 10px 8px !important;
    line-height: normal !important;
    font-size: 13px !important;
    position: relative !important;
    cursor: pointer !important;
}
.result-btn-wrap {
    display: flex;
    justify-content: space-around;
    margin-top: -4px;
   margin-left:855px
}

.btn-search {
    width: auto;
}

.btn-download {
    width: fit-content;
    margin-top: 1px;
    margin-left: -74px;
}

@media screen and (max-width: 767px) {


    .btn-cpurchase {
        Margin-top: 1rem;
    }
}

#dvCountDown {
    top: 150px;
    position: relative;
}

@media screen and (max-width: 767px) {
    .btn-checkout {
        float: none;
    }
}
.box-profile {
    padding: 20px !important; margin-bottom: 20px !important;
}

.box-body.table-responsive.no-padding.overlowVisible {
    Overflow: inherit !important;
}

#TimeSlotsSection {
    padding: 20px;
    padding-bottom: 0px;
}

.dashboardTabFooterBtn1 h2 {
    color: #bbbbbb;
}

.nopurchasedText {
    text-align: center;
    color: #bbbbbb;
}


@media screen and (max-width: 767px) {

    video {
        width: 100%;
    }
}

@media screen and (max-width: 495px) {
    select option {
        font-size: 13px;
    }
}

.buynowimg img {
    margin-top: 20px;
}


@media screen and (max-width: 767px) {
    .viewallbtn {
        margin-bottom: 5px;
        width: 100%;
        float: none !important;
    }

    .dashboardTabFooterBtn2 {
        float: none !important;
    }
}

img.cat_icon.size-width {
    border: 1px solid #dddddd;
    border-radius: 50%;
}
.head-color {
    background: #2a39419c;
    color: white;
}

.btn-reschedule {
    float: right;
    margin-left: 30px;
}

.cal-MT {
    margin-top: 10px;
}

.btn-postion {
    display: inline-flex;
}
@media screen and (max-width: 768px) {
    .modal-dialog.modal-dialog {
        max-width: 100%;
        width: 34%;
    }
}

.d-flex {
    display: flex !important;
}

.list-group-item.active {
    z-index: 2;
    color: #000;
    background-color: #f4b837;
    border-color: #f4b837;
}

.size-width {
    width: 25%;
}

.letter-color {
    color: #2a3941;
    font-size: 16px;
    font-family: system-ui;
    margin-left: 10px
}

@media screen and (max-width: 768px) {
    .btn.ProctorLoadSlots {
        margin-top: 10px !important;
    }
}    

