body {
    margin: 0;
}

#fullScreenElement {
    margin: auto;
    font-size: 20px;
    padding: 0px 0 0 0;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    /** background: #3f51b5 !important;**/
    color: white !important;
    margin: auto;
}

#go-button, load-test {
    width: 200px;
    display: block;
    margin: 50px auto 0 auto;
    background: yellow;
    color: red;
}

/* webkit requires explicit width, height = 100% of sceeen */
/* webkit also takes margin into account in full screen also - so margin should be removed (otherwise black areas will be seen) */
#fullScreenElement:-webkit-full-screen {
    width: 100%;
    height: 100%;
    background-color: pink;
    margin: 0;
}

#fullScreenElement:-moz-full-screen {
    background-color: pink;
    margin: 0;
}

#fullScreenElement:-ms-fullscreen {
    background-color: pink;
    margin: 0;
}

/* W3C proposal that will eventually come in all browsers */
#fullScreenElement:fullscreen {
    background-color: pink;
    margin: 0;
}

.ajax-loader {
    /*visibility: visible;*/
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: +100 !important;
    width: 100%;
    height: 100%;
}
.proctor-loader {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
}

    .ajax-loader img {
        position: relative;
        top: 50%;
        left: 50%;
    }

.question-image-resizing {
/*height:75% !important;
width:75% !important*/
}
.proctor-show {
display:block !important;
}
.proctor-hide {
    display: none !important;
}